body {
    font-family: 'Klee One', cursive; 
    font-size: 18px;
    text-align: center;
    
}

* {
  list-style: none;
}


html, body {
    height: 100%;
  }
  
  html {
    background: #eee;
  }
  
  body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 100%;
    height: 850px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    align-items: center;
  }
  
  .wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 30%;
    background: #D9D9D9;
    width: 900px;
    height: 900px;
    margin-left: -250px;
    margin-top: -650px;
    margin-bottom: -500px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: black;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-family: 'Klee One', cursive;
    letter-spacing: .4em;
    font-size: 32px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
  }
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

.warks {
    text-align: center;
    font-size: 25px;
    margin-top: -600px;
}

.warkscontents{
  font-size: 18px;
}

.contents {
    max-width: 600px; margin: 200px auto;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
}

.contents p{color: blue;}

.contents-nopalt{
    max-width: 600px; margin: 200px auto ;
    letter-spacing: 0.1em;
    line-height: 2;
}
.contents-nopalt h1{color: #cccccc;}

.contents-serif{
    max-width: 600px; margin: 200px auto;
    font-family: "Yu Mincho", serif ;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
}
.contents-google {
    max-width: 600px; margin: 200px auto;
    font-family: 'BIZ UDPGothic', sans-serif;
    font-feature-settings: "palt";
    letter-spacing: 0.2em;
    line-height: 2;
    text-align: justify;
}

.my {
  display: flex;
  justify-content: center;
  text-align: center;
  
}
